<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:cxf="http://cxf.apache.org/core"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<context:component-scan base-package="com.touchinghand" />
	<context:annotation-config />
	<context:property-placeholder location="classpath:application_jwt.properties" />

	<bean id="authorizationFilter"
		class="com.touchinghand.security.api.filter.AuthorizationFilter" />
	
	<bean id="accessdeniedExceptionMapper"
		class="com.touchinghand.common.exeptionmapper.AccessDeniedExceptionMapper" />
	<bean id="authenticationExceptionMapper"
		class="com.touchinghand.common.exeptionmapper.AuthenticationExceptionMapper" />
	<bean id="authenticationtokenrefreshExceptionMapper"
		class="com.touchinghand.common.exeptionmapper.AuthenticationTokenRefreshmentExceptionMapper" />		
				
	<bean id="authenticationFilter"
		class="com.touchinghand.security.api.filter.AuthenticationFilter" />
	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
	<bean id="multipartProvider" class="org.apache.cxf.jaxrs.provider.MultipartProvider" />
	<bean id="swagger2Feature" class="org.apache.cxf.jaxrs.swagger.Swagger2Feature">
		<property name="basePath" value="ocsaservice/service" />
	</bean>
	<jaxrs:server id="endpoints">
		<jaxrs:serviceBeans>
			<bean class="com.touchinghand.endpoint.client.ClientResource" />
			<bean class="com.touchinghand.endpoint.ReferenceResource" />
			<bean class="com.touchinghand.endpoint.session.PsySessionResource" />
			<bean class="com.touchinghand.security.api.resource.SecurityResource" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
			<ref bean="multipartProvider" />
			<ref bean="authenticationFilter" />
			<ref bean="authorizationFilter" />
			<ref bean="accessdeniedExceptionMapper" />
			<ref bean="authenticationExceptionMapper" />
			<ref bean="authenticationtokenrefreshExceptionMapper" />
		</jaxrs:providers>
		<jaxrs:features>
			<ref bean="swagger2Feature" />
			<cxf:logging />
		</jaxrs:features>
	</jaxrs:server>

	<bean id="entityManagerFactory" class="javax.persistence.Persistence"
		factory-method="createEntityManagerFactory">
		<constructor-arg value="OCSAPersistence" />
	</bean>

	<bean id="entityManager" factory-method="createEntityManager"
		factory-bean="entityManagerFactory" />

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>